

<footer class="footer">
    <div class="content has-text-centered">
      <p>
        &copy; <%= new Date().getFullYear() %> 
        <strong>uBlog</strong> by <a href="https://github.com/princegideon15" target="_blank">Gerard Balde</a>.
        Check out the source code on
        <a href="https://github.com/princegideon15/blog-udemy" target="_blank">GitHub</a>.
      </p>
    </div>
  </footer>
  <script type="text/javascript" src="js/script.js"></script>
    
</body>
</html>